.control-btn {

  margin-right: 4px;

}


@media  (max-width:768px) {

  .btn-next-page {
      margin-left: 2px;
  }
  .btn-previous-page {
    margin-right: 2px;
}

.crud-item {
    margin-bottom: 4px;

}

}


