


    <div class="container">


      <div class="row">

      <div class="col-xl-8">

            <div *ngIf="paginationResponse" class="row">


              <div class="col-xl-5 col-12">

                    <span class="mx-1"> <small> Página {{ paginationResponse?.page  }} de {{ paginationResponse?.totalPages }}
                     Total de {{ paginationResponse?.totalItems  }} resultados</small>  </span>

              </div>

              <div class="d-flex col-xl-4 col-12 justify-content-center">

                <a class="pointer mx-1" (click)="back()">
                    <i class="fas fa-chevron-left"></i> Anterior
                </a>

                <a class="pointer" (click)="next()">
                  Próximo <i class="fas fa-chevron-right"></i>
              </a>

        </div>

                    <div class="col-xl-3 col-12 d-flex">

                      <label>
                      <small>  Itens: </small>
                      </label>

                      <select class="form-control"(change)="onItensPerPageChangeFunction($event)"  name="itemsPerPage">

                        <option value="4">

                          4

                        </option>

                        <option value="10">

                          10

                        </option>


                        <option value="100">

                          100

                        </option>

                        <option value="1000">

                          1000

                        </option>

                      </select>

                    </div>




            </div>

      </div>

      <div class="col-xl-4 col-lg-4 col-md-12 col-xs-12 col-12">

        <div class="row justify-content-end">

        <div class="d-flex p-0 col-xl-8 col-12">

          <input class="form-control" [(ngModel)]="searchValue" type="text" value="" />
          <button class="btn btn-primary " (click)="onSearchClick.emit(searchValue)" tooltip="Pesquisar"> <i class="fas fa-search"></i>  </button>

        </div>
        <div class="d-flex p-0 col-xl-4 col-12">

        <button class="btn btn-warning" (click)="toggleOrdering()"> <i class="fas fa-exchange"></i>  </button>

        <button class="btn btn-success" (click)="onAddClick.emit($event)" tooltip="Adicionar"> <i class="fas fa-plus"></i>  </button>

      </div>

      </div>
    </div>
    </div>
    </div>




