@import "/src/global-styles/vars.scss";

.card-icon {
      svg {
        height: 8rem;
        color: $primary;
      }

      padding: 16px;
      text-align: center;
      background-color: #ccc;
}

.select-checkbox {


  position: relative;
  top: 2px;
  left: 4px;

}

h6, h5 {
  margin-bottom:1rem !important;
}

