<form [formGroup]="usuarioFormGroup" (ngSubmit)="Submit()">

  <label class="mb-2 required"> Nome: </label>

  <input type="text" class="form-control mb-1" formControlName="nome" />

  <alert type="danger" *ngIf="usuarioFormGroup.get('nome')?.touched && usuarioFormGroup.controls['nome'].errors?.required">

    Insira o nome, é obrigatório

  </alert>


  <label class="mb-2 required"> Email: </label>

  <input type="text" class="form-control mb-1" formControlName="email"  />

  <alert type="danger" *ngIf="usuarioFormGroup.get('email')?.touched && usuarioFormGroup.controls['email'].errors?.required">

    Insira o email, é obrigatório

  </alert>

  <label class="mb-2 required"> Documento: </label>

  <input [attr.disabled]="updateMode ? '' : null" type="text" class="form-control mb-1" formControlName="documento"  />

  <alert type="danger" *ngIf="usuarioFormGroup.touched && usuarioFormGroup.controls['documento'].errors?.required">

    Insira o documento, é obrigatório

  </alert>

  <section *ngIf="!updateMode">

  <label class="mb-2 required"> Senha: </label>

  <input  type="password" class="form-control mb-1 disabled" formControlName="senha"  />

  <alert type="danger" *ngIf="usuarioFormGroup.touched && usuarioFormGroup.controls['senha'].errors?.required">

    Insira a senha, é obrigatório

  </alert>

  <alert type="danger" *ngIf="usuarioFormGroup.touched && usuarioFormGroup.controls['senha'].errors?.minlength">

    A senha deve ter no mínimo 8 caracteres

  </alert>

  <label class="mb-2 required"> Repita a Senha: </label>

  <input   type="text" type="password" (change)="onSenhaValueChanges($event)" class="form-control mb-1" />

  <alert type="danger" *ngIf="usuarioFormGroup.touched && (usuarioFormGroup.controls['senha'].value != senhaConferencia)">

    Senhas não conferem

  </alert>

</section>

  <label class="mb-2 required"> Nível de acesso: </label>

  <select class="form-control" formControlName="nivelAcesso" name="nivelAcesso">


    <option  value="1" selected="selected">

      Funcionario

  </option>

    <option  value="2">

        Administrador

    </option>



  </select>

  <p class="mt-2"> <small>

    Todos os itens marcados com "*" são obrigatórios.

  </small></p>

  <button [disabled]="!usuarioFormGroup.valid" class="mt-2 w-100 btn btn-primary "> <i class="fas fa-save"></i> {{ updateMode ? 'Atualizar' : 'Cadastrar' }}  </button>




</form>
