

  <table class="table stripped">
    <thead>
      <tr>
        <td>
        <h6>  Id Associação Produto  </h6>
      </td>
        <td>

          <h6>    Produto</h6>
        </td>

        <td>
          <h6>  Tamanho</h6>
        </td>


            <td >
              <h6>    Qtd</h6>
            </td>

            <td>
              <h6>    Qtd produzidas</h6>
            </td>

            <td>
              <h6>    Qtd fichas</h6>
            </td>

        </tr>
      </thead>

  <tbody>


    <ng-template ngFor let-adapter [ngForOf]="pedidoProdutoAdapters">

     <tr>

        <td>

          {{  adapter?.pedidoProduto?.idPedidoProduto }}

       </td>

        <td>
         {{  adapter?.pedidoProduto?.produto?.nome }}
        </td>


        <td>
        <p>

          {{ adapter?.pedidoProduto?.tamanho | tamanho }}

         </p>
        </td>

        <td>
          {{  adapter?.pedidoProduto?.quantidade }}
         </td>

         <td>
          {{  adapter?.quantidadeProduzido }}
         </td>


         <td>

          {{  adapter?.quantidadeFichas }}

         </td>

         <td>
          <span *ngIf="!hasChanges">
          <a  (click)="fichaForm.setPedidoProduto(adapter?.pedidoProduto); modalFichaCreate.openModal()" class="pointer btn btn-sm btn-outline-success"> <i class="fas fa-plus"></i> Ficha de produção  </a>
          <a  (click)="modalFichas.openModal(); currentPedidoProdutoDetail = adapter" class="pointer btn btn-sm btn-outline-primary"> <i class="fas fa-eye"></i> Ver Fichas  </a>
        </span>
         </td>


        </tr>

        </ng-template>

      </tbody>
    </table>


    <button class="btn btn-success" (click)="onAddProduto.emit()" > Add Produto </button>
    <button class="btn btn-primary" (click)="onUpdateClick.emit()" *ngIf="hasChanges"> Atualizar mudanças </button>
    <button class="btn btn-warning" (click)="onRefreshClick.emit()" *ngIf="hasChanges"> Desfazer Alterações </button>



<clean-modal #modalFichaCreate>

  <ficha-producao-form #fichaForm (onSubmitSuccess)="modalFichaCreate.closeModal(); onAddFicha.emit()"></ficha-producao-form>

</clean-modal>


<clean-modal #modalFichas title="Fichas para o produto associado">


  <fichas-pedido-produto-table [pedidoProdutoAdapter]="currentPedidoProdutoDetail"></fichas-pedido-produto-table>


</clean-modal>

