@import "/src/global-styles/vars.scss";

.card-icon {
      svg {
        height: 2.8rem;
        color: $primary;
      }

      padding: 16px;
      text-align: center;
      background-color: #ccc;

      width:30%;
}

.horizontal-card {



  border-left-width: 2px;
  border-left-style: solid;
}

.horizontal-card-body {
  padding: 4px;
  width:70%;
}



