<container id="panel-block">

  <box-container>

  <tabset #staticTabs>

    <tab heading="Detalhes da ficha" class="p-3">

    <div class="row">

      <div class="col-xl-12">

          <h3> <i class="fas fa-file"></i> Detalhes da ficha </h3>

          <hr />

        </div>

    </div>

    <div class="row">
      <div class="col-xl-4">
      <h4> Código Ficha:  </h4>
      <p>

        {{ fichaProducao?.idFichaProducao }}

      </p>
    </div>
    <div class="col-xl-4">
      <h4> Código Pedido:  </h4>
      <p>

       <a [routerLink]="['/pedido/' + fichaProducao?.pedidoProduto?.idPedido]" class="pointer"> {{ fichaProducao?.pedidoProduto?.idPedido }} </a>

      </p>
    </div>



      </div>


      <div class="row">
        <div class="col-xl-4">
        <h4> Data de abertura:  </h4>
        <p>

          {{ fichaProducao?.dtCadastro | serverDateFormat }}

        </p>
      </div>
      <div class="col-xl-4">

        <h4> Usuário cadastramento:  </h4>
        <p>

          {{ fichaProducaoAdapter?.usuarioCadastroFicha?.usuario?.nome }}

        </p>
      </div>


      <div class="col-xl-4">

        <h4> Situação Ficha:  </h4>

        <p> {{  fichaProducao?.estadoFicha | fichaStatus }}   </p>

      </div>

        </div>



        <div class="row mt-4">

          <h4> <i class="fas fa-tshirt"></i> Produto</h4>
          <hr />
          </div>

        <div class="row">

          <div class="col-xl-3">

            <h4> Produto  </h4>
            <p>

              {{ fichaProducao?.pedidoProduto?.produto?.nome }}

            </p>
          </div>


          <div class="col-xl-3">

            <h4> Quantidade para produção  </h4>
            <p>

              {{ fichaProducao?.qtnProducao }}

            </p>
          </div>


          <div class="col-xl-3">

            <h4> Quantidade produzido  </h4>

            <p>

              {{ fichaProducao?.qtnProduzido }}

            </p>

          </div>


          <div class="col-xl-3">

            <h4> Quantidade perdido  </h4>

            <p>

              {{ fichaProducao?.qtnPerdido }}

            </p>


          </div>

          <div class="col-xl-3">

            <h4> Ações Disponíveis  </h4>

            <p>

              <button [disabled]="!fichaProducao || (fichaProducao.estadoFicha < FichaProducaoEstado.FINALIZADO)" type="button" class="btn btn-primary mb-1">


                  Enviar para estoque <i class="fas fa-box"></i>


              </button>

              <button [disabled]="!fichaProducao" type="button" class="btn btn-success btn-lg">


                Imprimir <i class="fas fa-print"></i>


            </button>

            </p>

          </div>

        </div>




  </tab>

  <tab *ngIf="fichaProducao && (fichaProducao.estadoFicha >= FichaProducaoEstado.CADASTRADA)"  heading="Corte / Separação" class="p-3">

    <ficha-corte-separacao (onFichaUpdate)="onFichaUpdate($event)" [fichaProducaoAdapter]="fichaProducaoAdapter">

    </ficha-corte-separacao>

  </tab>

  <tab *ngIf="fichaProducao && (fichaProducao.estadoFicha > FichaProducaoEstado.RECEBIDO_CORTE)" heading="Bordado / estamparia" class="p-3">

    <ficha-bordado-estamparia (onFichaUpdate)="onFichaUpdate($event)" [fichaProducaoAdapter]="fichaProducaoAdapter">
    </ficha-bordado-estamparia>


  </tab>


  <tab *ngIf="fichaProducao && (fichaProducao.estadoFicha > FichaProducaoEstado.RECEBIDO_BORDADO)"  heading="Costura" class="p-3">

    <ficha-costura-finalizacao (onFichaUpdate)="onFichaUpdate($event)" [fichaProducaoAdapter]="fichaProducaoAdapter">
    </ficha-costura-finalizacao>

  </tab>

</tabset>
</box-container>
</container>




<ficha-print [ficha]="fichaProducaoAdapter"></ficha-print>
