body {
  background-color: #f1f1f1 !important;
}

.box-shadow {
  @extend %default-shadow;
}


  .d-sm-none {

    display: none;

      @media  (min-width:768px) {
        display: block;
      }
  }


  ul li {
    list-style: none;
  }

