<section id="mainSideMenu" class="side-menu box-shadow">

  <a class="close-anchor pointer" (click)="Hide()"> <i class="fas fa-chevron-right"></i> </a>

  <div class="side-menu-wrapper">



    <div class="side-menu-inner d-flex flex-column">


      <div class="side-menu-logo-area">

      <a class="pointer" href="#"><img src="assets/logo.png" width="100px" /></a>


    </div>
      <div class="side-menu-options">

        <ul>

          <li>


            <a [routerLink]="['/usuario']" class="pointer"> <i class="fas fa-user"></i>  Usuarios  </a>


          </li>


          <li>


            <a class="pointer" [routerLink]="['/cliente']"> <i class="fas fa-users"></i>  Clientes  </a>


          </li>



          <li>


            <a [routerLink]="['/produto']" class="pointer"> <i class="fas fa-tshirt"></i>  Produtos  </a>


          </li>


          <li>


            <a [routerLink]="['/pedido']" class="pointer"> <i class="fas fa-list"></i>  Pedidos  </a>


          </li>


          <li>


            <a [routerLink]="['/pedido']" class="pointer"> <i class="fas fa-file"></i>  Fichas de Produção  </a>


          </li>

          <li>


            <a class="pointer" logout> <i class="fas fa-sign-out"></i>  Sair  </a>


          </li>


        </ul>



      </div>



    </div>


  </div>




</section>
