<table class="table stripped">
  <thead>
    <tr>
      <td>
        <h6>    Numero da ficha </h6>
      </td>

      <td>
            <h6>  Quantidade Para Produção  </h6>
      </td>

      <td>

        <h6>  Id Associação Produto  </h6>

      </td>

      <td>

          <h6>  Produto   </h6>


      </td>


      <td>

        <h6>  Status   </h6>


    </td>

      </tr>
    </thead>

<tbody>


  <ng-template ngFor let-ficha [ngForOf]="pedidoProdutoAdapter?.pedidoProduto?.fichasProducao">

    <tr>

       <td>

        {{  ficha?.idFichaProducao }}

       </td>

       <td>

         {{  ficha?.qtnProducao }}

        </td>

        <td>

         {{  pedidoProduto?.idPedidoProduto }}

        </td>

        <td>

          {{  pedidoProduto?.produto?.nome }}


        </td>


        <td>

          {{  ficha?.estadoFicha | fichaStatus }}


        </td>


       </tr>

       </ng-template>

    </tbody>
  </table>

