<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="assets/logo.png" width="100px" /></a>


    <div  id="navbarNav">
      <ul class="custom-navbar d-flex">

        <li class="nav-item">
            <user-menu></user-menu>
        </li>

        <li class="nav-item">
          <a class="side-menu-toggler nav-link active pointer" (click)="barsClick.emit()" aria-current="page" ><i class="side-menu-toggler fas fa-bars"></i></a>
        </li>




      </ul>
    </div>
  </div>
</nav>
