<container>

  <box-container>

    <crud-panel (onSearchClick)="onChangeSearchTerm($event)" (onChangeOrdering)="request.order = $event; loadUsuarios()" (onCurrentPageChanges)="request.page = $event; loadUsuarios();" (onItensPerPageChange)="onItemsPerPageChange($event)" [pageData]="pageData" (onAddClick)="modalUsuario.openModal()">  </crud-panel>

          <div class="container" class="mt-3">

            <div class="row">

                <usuario-card (edit)="loadUserForUpdate($event)" [usuario]="usuario" class="col-xl-3 col-lg-4 p-2" *ngFor="let usuario of pageData?.items">

                </usuario-card>

            </div>

            </div>




  </box-container>


</container>

<clean-modal #modalUsuario title="Cadastro de Usuário">

  <usuario-form (onSuccess)="onSubscribeSuccess($event); modalUsuario.closeModal()" (onFail)="onSubscribeFail($event)">

  </usuario-form>


  <alert *ngFor="let notification of notifications" type="danger">

     {{ notification.message }}

  </alert>


</clean-modal>


<clean-modal #modalUsuarioUpdate title="Atualizacao de Usuário">

  <usuario-form [usuario]="currentUsuarioForUpdate" (onSuccess)="onSubscribeSuccess($event); modalUsuario.closeModal()" (onFail)="onSubscribeFail($event)">

  </usuario-form>


  <alert *ngFor="let notification of notifications" type="danger">

     {{ notification.message }}

  </alert>


</clean-modal>
