<form [formGroup]="formGroup" (ngSubmit)="Submit()">

  <label class="mb-2 required"> Nome: </label>

  <input type="text" class="form-control mb-1" formControlName="strNome" />

  <alert type="danger" *ngIf="formGroup.touched && formGroup.controls['strNome'].errors?.required">

    Insira o nome, é obrigatório

  </alert>

  <label class="mb-2 required"> Código: </label>


  <input type="text" class="form-control mb-1" formControlName="codigoCliente" />

  <alert type="danger" *ngIf="formGroup.touched && formGroup.controls['codigoCliente'].errors?.required">

    Insira o codigo do Cliente, é obrigatório

  </alert>

  <p>


  <label> Cliente é a própria fábrica? </label>

  <switch-btn [checked]="entity?.isLoja == 1" (onCheck)="patchClienteLojaFlag($event)"> </switch-btn>
</p>

  <label class="mb-2"> Imagem/Ícone do cliente: </label>

  <image-item [imageSrc]="imageSrc" (onValueChanges)="file = $event"> </image-item>

  <p class="mt-2"> <small>

    Todos os itens marcados com "*" são obrigatórios.

  </small></p>


  <button [disabled]="!formGroup.valid" class="mt-2 btn btn-primary "> <i class="fas fa-save"></i> Enviar  </button>

</form>
