<container>

  <box-container>

    <crud-panel (onSearchClick)="onChangeSearchTerm($event)" (onChangeOrdering)="request.order = $event; loadPageData()" (onCurrentPageChanges)="request.page = $event; loadPageData();" (onItensPerPageChange)="onItemsPerPageChange($event)" [pageData]="pageData" (onAddClick)="modalPedido.openModal()">


    </crud-panel>


    <div class="container" class="mt-3">

      <div class="row">

          <pedido-card (delete)="remove($event)" (edit)="loadPedidoForUpdate($event)" [pedido]="pedido" class="col-xl-3 col-lg-4 p-2" *ngFor="let pedido of pageData?.items">

          </pedido-card>

      </div>

    </div>


    <clean-modal #modalPedido title="Cadastro de Pedido">


      <pedido-form (onSuccess)="onFormSuccess($event); modalPedido.closeModal()" (onFail)="onFormFail($event)">

      </pedido-form>


      <alert *ngFor="let notification of notifications" type="danger">

         {{ notification.message }}

      </alert>


    </clean-modal>


    <clean-modal #modalPedidoUpdate title="Atualizacao de Pedido">

      <pedido-form [entity]="currentEntityForUpdate" (onSuccess)="onFormSuccess($event, 'Pedido atualizado com sucesso!'); modalPedidoUpdate.closeModal()" (onFail)="onFormFail($event)">

      </pedido-form>


      <alert *ngFor="let notification of notifications" type="danger">

         {{ notification.message }}

      </alert>


    </clean-modal>


  </box-container>





</container>
