<container>

  <box-container>

    <crud-panel  (onRefreshClick)="loadPageData()" (onSearchClick)="onChangeSearchTerm($event)" (onChangeOrdering)="request.order = $event; loadPageData()" (onCurrentPageChanges)="request.page = $event; loadPageData();" (onItensPerPageChange)="onItemsPerPageChange($event)" [pageData]="pageData" (onAddClick)="modalProduto.openModal()">

    <section class="d-flex">

       <input class="mx-1" (change)="checkControl($event)"  [checked]="checked" type="checkbox" />

       <select #selectAction class="form-control" (change)="onDeleteSelectedCheck(selectAction.value)">
        <option>

          Ações

     </option>
           <option value="-1">

                Deletar Selecionados

           </option>

       </select>

       <small> Tamanho: </small>   <select-box (onValueChanges)="onFilterTamanho($event)"  [list]="tamanhos"></select-box> </section>

    </crud-panel>



    <crud-container (onAddClick)="modalProduto.openModal()">

      <div class="row">

        <produto-card (onCheck)="onCheckSingle($event)" #produtoCard (delete)="remove($event)" (edit)="loadProdutoForUpdate($event)" [produto]="produto" class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 p-1" *ngFor="let produto of pageData?.items">

        </produto-card>

      </div>

    </crud-container>



    <clean-modal #modalProduto title="Cadastro de Produto">


      <produto-form (onSuccess)="onFormSuccess($event); modalProduto.closeModal()" (onFail)="onFormFail($event)">

      </produto-form>


      <alert *ngFor="let notification of notifications" type="danger">

         {{ notification.message }}

      </alert>


    </clean-modal>


    <clean-modal #modalProdutoUpdate title="Atualizacao de Produto">

      <produto-form [entity]="currentEntityForUpdate" (onSuccess)="onFormSuccess($event, 'Produto atualizado com sucesso!'); modalProdutoUpdate.closeModal()" (onFail)="onFormFail($event)">

      </produto-form>


      <alert *ngFor="let notification of notifications" type="danger">

         {{ notification.message }}

      </alert>


    </clean-modal>


  </box-container>





</container>
