<div class="btn-group" dropdown>



  <button id="button-split" type="button" dropdownToggle class="btn btn-primary dropdown-toggle dropdown-toggle-split"
          aria-controls="dropdown-split">
          <i class="fas fa-user"></i> <span class="username"> Washington </span>

    <span class="sr-only visually-hidden">Split button!</span>
  </button>

  <ul id="dropdown-split" *dropdownMenu class="dropdown-menu"
      role="menu" aria-labelledby="button-split">

      <li role="menuitem"><a (click)="changeSenhaModal.openModal()" class="dropdown-item pointer"><i class="fas fa-lock"></i>  Alterar Senha </a>
      </li>

    <li role="menuitem"><a class="dropdown-item pointer" logout><i class="fas fa-sign-out"></i>  Logout </a>
    </li>
  </ul>

</div>


<clean-modal #changeSenhaModal title="Alterar senha">
  <usuario-change-senha-form></usuario-change-senha-form>
</clean-modal>