<form [formGroup]="formGroup" (ngSubmit)="Submit()">



  <label class="mb-2 required"> Nome: </label>

  <input type="text" class="form-control mb-1" formControlName="strNome" />

  <alert type="danger" *ngIf="formGroup.touched && formGroup.controls['strNome'].errors?.required">

    Insira o nome, é obrigatório

  </alert>

  <label class="mb-2"> Imagem/Ícone do cliente: </label>

  <img [src]="imageSrc" />

  <input type="file" class="form-control mb-1"  (change)="onFileChange($event)" formControlName="imagem"  />


  <p class="mt-2"> <small>

    Todos os itens marcados com "*" são obrigatórios.

  </small></p>


  <button [disabled]="!formGroup.valid" class="mt-2 btn btn-primary "> <i class="fas fa-save"></i> Enviar  </button>

</form>
