 <form *ngIf="formGroup && pedidoProduto" [formGroup]="formGroup" (ngSubmit)="Submit()">


    <label class="mb-2 required"> Quantidade: </label>

    <input type="number" formControlName="qtnProducao" class="form-control"  />

    <alert *ngIf="formGroup.touched && formGroup.controls['qtnProducao'].errors?.maxlength" type="danger">

          Quantidade ultrapassa limite máximo de ítens por ficha

    </alert>

    <p class="mt-2"> <small>

      Todos os itens marcados com "*" são obrigatórios.

    </small></p>

    <button [disabled]="!formGroup.valid" class="mt-2 btn btn-primary "> <i class="fas fa-save"></i> Enviar  </button>

  </form>



