<form [formGroup]="formGroup" (ngSubmit)="Submit()">



  <label class="mb-2 required"> Nome: </label>

  <input type="text" class="form-control mb-1" formControlName="nome" />

  <alert type="danger" *ngIf="formGroup.touched && formGroup.controls['nome'].errors?.required">

    Insira o nome, é obrigatório

  </alert>

  <label class="mb-2 required"> Código do cliente: </label>

  <select-box formControlName="codigoCliente" [list]="clienteOptions"></select-box>

  <label class="mb-2 required"> Código do produto: </label>


  <input type="text" class="form-control mb-1" formControlName="codigoProduto" />

  <alert type="danger" *ngIf="formGroup.touched && formGroup.controls['codigoProduto'].errors?.required">

    Insira o código, é obrigatório

  </alert>

  <alert type="danger" *ngIf="formGroup.touched && (formGroup.controls['codigoProduto'].errors?.minlength || formGroup.controls['codigoProduto'].errors?.maxlength)">

    Codigo do Produto deve ser único e ter apenas 4 caractéres

  </alert>

  <label class="mb-2"> Imagem do produto: </label>

  <image-item [imageSrc]="imageSrc" (onValueChanges)="onFileChanges($event)"> </image-item>

  <label class="mb-2 required"> Cor: </label>


  <input type="text" class="form-control mb-1" formControlName="cor" />

  <alert type="danger" *ngIf="formGroup.touched && formGroup.controls['cor'].errors?.required">

    Insira a cor, é obrigatório

  </alert>


  <section *ngIf="!updateMode">

    <label> Criar itens todos os tamanhos? </label>

    <switch-btn (onCheck)="todosTamanhos = $event; toggleTamanhoValidator($event);"> </switch-btn>

    </section>

    <section *ngIf="!todosTamanhos">

 <label class="mb-2 required"> Tamanho: </label>

 <select-box formControlName="tamanho" [list]="tamanhos"></select-box>

  <p class="mt-2"> <small>

    Todos os itens marcados com "*" são obrigatórios.

  </small></p>
</section>

  <button [disabled]="!formGroup.valid" class="mt-2 btn btn-primary "> <i class="fas fa-save"></i> Enviar  </button>

</form>
