


<card-with-icon (onCheck)="checkCard(true)" #cardAutoRef [checkBoxEnabled]="false" iconClass="fas fa-tshirt"  [title]="produto?.nome" [imgSrc]="produto?.produtoImagem?.imagem | imageUrl">

  <p>
    <!-- Códs EAN: {{produto | ean}} -->
  </p>

  <p>

      Cód Produto: {{produto?.codigoProduto}}

  </p>


  <p>

    <small>  Cor: {{ produto?.cor }} </small>

  </p>


  <ng-content>

  </ng-content>

  <edit-delete-dropdown *ngIf="editMode" (edit)="edit.emit(produto.idProduto)" (delete)="delete.emit(produto.idProduto)" class="justify-content-end w-100 p-3 d-flex"></edit-delete-dropdown>


</card-with-icon>
