<form [formGroup]="formGroup" (ngSubmit)="Submit()">



  <label class="mb-2 required"> Cliente: </label>

  <select-box formControlName="idCliente" [list]="clienteSelectBox"></select-box>

  <alert type="danger" *ngIf="formGroup.touched && formGroup.controls['idCliente'].errors?.required">

    Insira o cliente

  </alert>

  <section class="mt-2">
    <label class="mb-2"> Produtos: </label>

  <button class="btn btn-sm btn-outline-success" (click)="modalProdutos.openModal()"> <i class="fas fa-plus"></i> Adicionar </button>
  </section>

  <label class="mb-2"> Observações: </label>

  <textarea class="form-control" formControlName="txtObservacoes">

  </textarea>

  <alert type="danger" *ngIf="formGroup.touched && formGroup.controls['idCliente'].errors?.required">

    Insira o cliente

  </alert>


  <p class="mt-2"> <small>

    Todos os itens marcados com "*" são obrigatórios.

  </small></p>

  <button [disabled]="!formGroup.valid" class="mt-2 btn btn-primary "> <i class="fas fa-save"></i> Enviar  </button>

</form>


<clean-modal #modalProdutos title="Produtos disponíveis">

</clean-modal>



